:root{
    --purple100:hsl(254, 88%, 90%);
    --purple500:hsl(256, 67%, 59%);
    --yellow100:hsl(31, 66%, 93%);
    --yellow500: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
}

*,*::before,*::after{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

h1{
    /* font-size: 4vw; */
    font-size: max(3rem,4vw);
}
h2{
    /* font-size: 2.8vw; */
    font-size: max(2rem,2.8vw);
}
h3{
    /* font-size: 2.2vw; */
    font-family: max(1.75rem,2.2vw);
}

p{
    /* font-size:1.3vw; */
    font-size: max(1rem,1.3vw);
}
img{
    max-width: 50%;
}

div{
    border-radius: 10px;
}

body{
    font-family: "DM Sans",sans-serif;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 1rem;
    background-color: wheat;
}
main{
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "left right right right";
    gap: 1rem;
}




.left{
    grid-area: left;
    display: grid;
    gap: 1rem;
}


.left-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--yellow100);
    /* grid-area:left1 */
}
.left-1 img{
    min-width: 80%;
}
.left-2{
    background-color: var(--yellow500);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-around;
    /* grid-area: left2; */
}
.left-2 img{
    min-width: 80%;
}
.right{
    grid-area: right;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-template-rows: repeat(3,minmax(0,1fr));
    grid-template-areas: "right1 right1 right2"
                          "right3 right3 right2"
                          "right4 right5 right5";
    gap: 1rem;
    min-width: 0;
}
.right-1{
    grid-area:right1;
    background-color: var(--purple500);
    color: white;
    padding: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-2{
    grid-area:right2;
    padding: 1.75rem;
    background-color: var(--purple100);
    padding-right: 0;
    position: relative;
    overflow: hidden;
}
.right-2 img{
    max-width: 130%;
    object-fit: cover;
    margin: 2rem 1rem;
}
.right-3{
    grid-area:right3;
    display: flex;
    justify-content: space-between;
}

.right-31{
    background-color: white;
    padding: 1rem;
    width: 48%;
    padding-right: 0;
    position: relative;
    overflow: hidden;
}
.right-31 img{
    max-width: 120%;
}
.right-32{
    padding: 1rem;
    width: 48%;
    background-color: var(--yellow500);
    position: relative;
    overflow: hidden;
}
.right-32 img{
    min-width: 80%;
    position: absolute;
}
.right-4{
    grid-area:right4;
    background-color: var(--white);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.right-4 img{
    max-width:100% ;
}
.percent{
    display: block;
    margin-inline:auto;
    text-align: center;
    font-size: max(3rem,4vw);
    font-weight: bold;
}
.right-5{
    grid-area:right5;
    background-color: var(--purple500);
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    color: white;
}

@media only screen and (max-width:375px) {
    main{
        width: 80rem;
        grid-template-columns: 1fr;
      grid-template-areas: "right"
                            "left";
    }
    .right{
        grid-template-columns: 1fr;
        grid-template-areas: "right1"
                            "right3"
                            "right2"
                            "right5"
                            "right4";
    }
    .right-1{
        padding: 1rem;
        padding-top: 0;
    }
    .right-2{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right-2 img{
        max-width: 100%;
        /* padding: 1rem; */
    }
    .right-3{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        /* gap: 1rem; */
    }
    .right-31,.right-32{
        width: 100%;
        position: static;
    }
    .right-32 img{
        position: static;
        margin-top: 1rem;
        margin-bottom: -2rem;
    }
    .right-4 img{
        max-width: 60%;
    }
    .percent{
        text-align: left;
    }
    .right-5{
        flex-direction: column;
    }
}
